@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
.navbar1 {
  background: #09203f !important;
}
.modal-header {
  color: white;
  background: linear-gradient(145deg, #0c1657, #083167);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn-close {
  background-color: rgb(81, 106, 196);
}
hr {
  background: rgb(22, 1, 92);
  height: 5px;
}
.card-body {
  box-shadow: 0 0 5px rgba(210, 104, 18, 0.945),
    0 0 10px rgba(232, 232, 43, 0.963), 0 0 15px rgba(143, 155, 6, 0.489),
    0 2px 0 black;
}
.edit-delete-icons {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card:hover .edit-delete-icons {
  display: block;
}